h2{
    text-align: center;
    margin-top: 2%;
    text-decoration: underline;
    font-size: 2em;
    color: #555;
}

h4{
    margin: 3%;
    text-decoration: underline;
}

.fotoDesc{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fotoDesc img{
    width: 30%;
    margin: 5%;
    border-radius: 5px;
    border: solid #555;
}

.fotoDesc p{
    color: #555;
    margin: 5%;
    text-align: justify;
}

.contenedor-detalle{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-detalle article{
    width: 40%;
    margin: 5%;
}

.contenedor-detalle article p{
    text-align: center;
    color: #555;
}

.contenedor-detalle img{
    width: 30%;
}

.sintomas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.medidas{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.medidas-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100% !important; 
}

.medidas img{
    width:20%;
}

.form input, select{
    margin: 2%;
    border-radius: 5px;
    border: solid 1px #555;
    height: 2em;
    padding: 0.5%;
}

.form p{
    display: inline-block;
    color: #555;
    font-size: 1em;
}

.form button{
    background-color: #555;
    border: solid 1px #BDFFA7;
    border-radius: 5px;
    color: #BDFFA7;
    padding: 2%;
    margin: 1%;
    margin-left: 75%;
}

#nombreApellido{
    width: 95%;
}

#dni, #telefono, #ciudad, #direccion, #ciudad2{
    margin: 1.5%;
    width: 45%;
}

#ciudad{
    margin-right: 4%;
}

#viajar{
    font-size: 0.9em;
}

#paises_visitados{
    width: 50%;
    margin-bottom: 5%;
}

@media only screen and (max-width: 768px) {

    .fotoDesc{
        display: block;
    }

    .fotoDesc img{
        width: 80%;
        margin: 5%;
        border-radius: 5px;
        border: solid #555;
    }

    .contenedor-detalle{
        display: block;
    }
    .contenedor-detalle article{
        width: 90%;
        margin: 5%;
    }

    #nombreApellido, #dni, #telefono, #ciudad, #direccion, #ciudad2, #paises_visitados{
        width: 95%;
    }

    .form button{
        width: 50%;
        margin: 5% 25%;
    }
}