main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2{
    margin-top: 25px;
    margin-bottom: 5px;
}

.buscador{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.buscador input{
    width: 80%;
    height: 30px;
    border:solid 1px #555;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 5px;
}

.buscador i{
    padding: 9px 8px;
    color: #BDFFA7;
    background-color: #555;
    border-radius: 5px;
    margin-right: 1%;
    padding: 5px;
}

section{
    display: flex;
    justify-content: center;
    width: 100%;
}
.enfermedades{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enfermedad{
    display: flex;
    width: 80%;
    margin-bottom: 10px;
}

.imagenEnfermedad{
    width: 30%;
    padding: 0 5px;
}

.imagenEnfermedad img{
    width: 100%;
    background-size: contain;
    border-radius: 5px;
}

.infoEnfermedad{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.infoEnfermedad a{
    background-color: #BDFFA7;
    border-radius: 5px;
    color: #555;
    padding: 4px;
    width: 60px;
    text-align: center;
    border: solid 2px #555;
}

.infoEnfermedad a:hover{
    background-color: #fff;
}

@media only screen and (max-width: 768px){
   
    .enfermedad{
        width: 90%;
        display: block;
    }

    .imagenEnfermedad{
        width: 90%;
        margin: 5%;
    }

    .infoEnfermedad{
        width: 90%;
        margin: 5%;
    }

    .infoEnfermedad h3{
        text-align: center;
    }

    .infoEnfermedad p{
        margin: 5%;
        text-align: justify;
    }

    .infoEnfermedad a{
        align-self: center;
    }

}
