*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

a{
    color: #fff
}

.link-hover:hover{
    color:#BDFFA7;
}

/* header */

.logo{
    background-color: #555;
    height: 3%;
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.logo img{
    height: 70px;
    margin-left: 5%;
}

.logo h1{
    color: #BDFFA7;
    margin-right: 40px;
    font-size: 1.6em;
    width:120px;
    text-align: center;
}

.logo input{
    width: 62%;
    border: solid ;
    border-color: #ABEDB6;
    margin-right: 1%;
}

.logo i{
    vertical-align: text-bottom;
    color: #BDFFA7;
    margin-right: 5%;
}

/* inicia NAV */

.menu{
    height: 40px;
    background: #B5B5B5;
}

.ulMenu{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ulMenu li{
    margin: 0 10px;
}

.movilNav{
    display: none;
}

.dropdown{
    display: none;
} 

/* finaliza NAV */

/* footer */

footer{
    background-color: #555;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.integrantes li{
    color: white;
    font-size: 1.2em;
}

footer p{
    color: #ABEDB6;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer li{
    margin-bottom: 5px;
}

.redes-footer{
    display: flex
}

.fb-link{
 background-image: url("../img/fb-logo.jpg");
}

.tw-link{
    background-image: url("../img/tw-logo.jpg");
}

.ig-link{
    background-image: url("../img/ig-logo.jpg");
}

#redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#redes-sociales a{
    width: 48px; 
    height: 48px; 
    background-image: url("../img/redes-sprite.jpg");
    border-radius: 100%;
    margin-right: 5px;
}

.redes-container{
    display: flex;
}

#redes-sociales #footer-fb {
    background-position: -62px -63px;
}

#redes-sociales #footer-tw {
    background-position: -3.6px -63px;
}

#redes-sociales #footer-ig {
    background-position: -119px -63px;
}

@media only screen and (max-width: 768px) {

    footer{
        height: 90px;
    }

    #menu-inferior{
        display: none;
    }

    #redes-sociales p{
        display: none;
    }

    .integrantes li{
        color: white;
        font-size: 0.7em;
    }

    .logo h1{
        font-size: 1.1em;
        width: 120px;
    }

    .menu{
        display: none;
    }

    .movilNav{
        height: 30px;
        background: #B5B5B5;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    
    .movilNav i{
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.activo{
    color:#BDFFA7 !important;
}

.d-flex{
    display: flex !important;
}

.justify-center{
    justify-content: center !important;
}

.container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container a{
    color: black !important;
}

.sectTitle{
    margin-bottom: 40px;
}
