*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

/* header */

header{
    background-color: #555;
    height: 80px;
}

.logo img{
    height: 70px;
    margin: 5px 0px 5px 50px;
}

.logo h1{
    margin: 20px;
    vertical-align: text-bottom;
    color: #BDFFA7;
    display: inline-block;
}

.logo input{
    margin-bottom: 30px;
    margin-left: 15%;
    vertical-align: text-bottom;
    width: 50%;
    border: solid ;
    border-color: #ABEDB6;
}

.logo i{
    margin-bottom: 34px;
    margin-left: 15px;
    vertical-align: text-bottom;
    color: #fff;
}

/* footer */

footer{
    background-color: #555;
    height: 150px;
}